<app-header-profesor></app-header-profesor>
<div class="container-fluid text-center barnav">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a [routerLink]="['/profesor/detalle-curso', curso_id]" >Detalle curso</a></li>
    <li role="presentation" ><a [routerLink]="['/profesor/evaluar-alumno',curso_id]">Evaluar</a></li>
  </ul>
</div>

<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <button type="button" [routerLink]="['/profesor/cursos']" name="button" class="btn btn-link"><span class="glyphicon glyphicon-menu-left"></span> Volver al listado de cursos</button>
    </div>
  </div>
  <div class="jumbotron" *ngIf="!barraEstado&&curso">
    <h2 class="">Descripción</h2>
    <br>
    <div class="panel panel-primary" >
      <div class="panel-body">
        <div class="row" >
          <h4 class="col-md-4 col-md-offset-1 etiqueta">Nombre del Curso:</h4>
          <p class="col-md-5">{{curso.nombre}}</p>
        </div>
        <div class="row" >
          <h4 class="col-md-4 col-md-offset-1 etiqueta">Clinica:</h4>
          <p class="col-md-5">{{curso.id_clinica.nombre}}</p>
        </div>
        <div class="row" >
          <h4 class="col-md-4 col-md-offset-1 etiqueta">Contraseña:</h4>
          <p class="col-md-5">{{curso.password}}</p>
        </div>

      </div>
    </div>
    <hr>
    <h2 class="">Tratamientos</h2>
    <br>
    <div class="panel panel-primary" >
      <div class="panel-body">
        <table class="table table-hover">
          <tr class="info">
            <th>Tratamiento</th>
            <th>Cantidad</th>
          </tr>
          <tr *ngFor="let tratamiento of curso.id_clinica.tratamientos">
            <td>{{tratamiento.id_tratamiento.nombre}}</td>
            <td>{{tratamiento.cantidad}}</td>
          </tr>
        </table>

      </div>
    </div>
    <hr>
    <h2 class="">Alumnos</h2>
    <br>
    <div class="row">
      <div class="item col-sm-4 col-md-3" *ngFor="let alumno of alumnos" [routerLink]="['/profesor/detalle-alumno',alumno.id_alumno._id,alumno.id_curso]">
        <div class="thumbnail">
          <img class="img-circle" src="http://104.131.3.207:3000/alumno/getFotoPerfil/{{alumno.id_alumno._id}}" alt="...">
          <div class="caption">
            <h3>{{alumno.id_alumno.apellidos}} {{alumno.id_alumno.nombre}}</h3>
            <span>{{alumno.id_alumno.correo}}</span>
            <br>
            <span>{{alumno.id_alumno.matricula}}</span>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" [routerLink]="['/profesor/cursos']" name="button" class="btn btn-link"><span class="glyphicon glyphicon-menu-left"></span> Volver al listado de cursos</button>
    </div>
  </div>
</div>
